<div class="container-fluid footer">
    <div class="row mx-4 py-5">
        <div class="col ">
            <h1 class="text-white fw-bold">Sign Up For Newsletters</h1>
            <p class="text-color">Get E-mail updates about our latest shop and <span class="text-yelo">special
                    offers.</span></p>
        </div>
        <div class="col ">
            <div class="input-group mt-4 w-75">
                <input type="search" class="form-control rounded-start" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-success w-25 rounded-end" data-mdb-ripple-init>Sign Up</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt-3">
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
        
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3 fs-4"></i><span class="fs-3">Company name</span> 
              </h6>
              <p>
                Here you can use rows and columns to organize your footer content. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit.
              </p>
            </div>
       
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h4 class="text-uppercase fw-bold mb-4">
                Products
              </h4>
              <p>
                <a href="#" class="text-reset text-center footer-txt">Angular</a>
              </p>
              <p>
                <a href="#" class="text-reset text-center footer-txt">React</a>
              </p>
              <p>
                <a href="#" class="text-reset text-center footer-txt">Vue</a>
              </p>
              <p>
                <a href="#" class="text-reset text-center footer-txt">Laravel</a>
              </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h4 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h4>
                <p>
                  <a href="#" class="text-reset text-center footer-txt">Pricing</a>
                </p>
                <p>
                  <a href="#" class="text-reset text-center footer-txt">Settings</a>
                </p>
                <p>
                  <a href="#" class="text-reset text-center footer-txt">Orders</a>
                </p>
                <p>
                  <a href="#" class="text-reset text-center footer-txt">Help</a>
                </p>
              </div>
      
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
            <h4 class="text-uppercase fw-bold mb-4">Contact</h4>
            <p><i class="fa-solid fa-house me-3"></i> New York, NY 10012, US</p>
            <p>
                <i class="fa-solid fa-envelope me-3"></i>
              infoexample.com
            </p>
            <p><i class="fa-solid fa-phone me-3"></i> + 01 234 567 88</p>
            
           </div>
        </div>
      
        <!-- Copyright -->
        <div class="text-center p-4 fs-5 fw-light" style="background-color: rgba(0, 0, 0, 0.05);">
            Copy right © 2024 Cara. All rights reserved.
          <!-- <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
</div>